<!DOCTYPE html>
<html class="navbar-vertical-collapsed" lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- ===============================================-->
    <!--                   Document Title               -->
    <!-- ===============================================-->
    <title><%= appInfo.app_name %>  | App Settings</title>

    <!-- ===============================================-->
    <!--                      Favicons                  -->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png"/>
    <link rel="manifest" href="assets/img/favicons/site.webmanifest" />
    <link rel="mask-icon" href="assets/img/favicons/safari-pinned-tab.svg" color="#5bbad5"/>
    <link rel="shortcut icon" href="assets/img/favicons/favicon.ico" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="msapplication-config" content="assets/img/favicons/browserconfig.xml"/>
    <meta name="theme-color" content="#ffffff" />

    <!-- ===============================================-->
    <!--                   Stylesheets                  -->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link href="../assets/lib/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" />
    <link href="../assets/lib/lightbox2/css/lightbox.min.css" rel="stylesheet" />
    <link href="../assets/lib/fancybox/jquery.fancybox.min.css" rel="stylesheet" />
    <link href="../assets/css/colorPick.css" rel="stylesheet" />
    <link id="dark-color-picker" href="../assets/css/colorPick.dark.theme.css" rel="stylesheet" />
    <link href="../assets/css/theme.css" rel="stylesheet" />
    <link id="dark-mode-css" href="../assets/css/theme-dark.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet"/>
    <link href="/public/vendors/dropzone/dropzone.min.css" rel="stylesheet" />

    <!-- ===============================================-->
    <!--                    JavaScripts                 -->
    <!-- ===============================================-->
    <script src="../assets/js/config.navbar-vertical.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script>
      var mode = localStorage.getItem("theme-mode");
      if (mode === "dark") {
        document.getElementById("dark-mode-css").removeAttribute("disabled");
      } else {
        document.getElementById("dark-mode-css").setAttribute("disabled", true);
      }
    </script>
  </head>

  <body>
    <!-- ===============================================-->
    <!--                   Main Content                 -->
    <!-- ===============================================-->
    <main class="main" id="top">
      <div class="container" data-layout="container">
        <%- include('partials/sidebar.ejs') %>
        <div class="content">
          <%- include('partials/navbar.ejs') %>

          <div class="row">
            <div class="col-12">
              <div class="card mb-3 py-4">

              </div>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-lg-8 pr-lg-2">
              <form class="needs-validation" id="updateCompanyInfoForm">
                <div class="card">
                  <div class="card-header bg-100 d-flex justify-centent-center">
                    <label class="m-auto" for="">App info</label>
                  </div>
                  <div class="card-body">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label>App Name</label>
                        <input class="form-control outline-none" type="text" autocomplete="on" id="companyAppName" placeholder="" value="<%= appInfo?.app_name %>"/>
                      </div>
                      <div class="form-group">
                        <label>Soon</label>
                        <input class="form-control outline-none" type="text" autocomplete="on" id="" placeholder="" value=""/>
                      </div>
                      <div class="form-group">
                        <label>Soon</label>
                        <input class="form-control outline-none" type="text" autocomplete="on" id="" placeholder="" value=""/>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="col-12">
                      <button class="btn btn-falcon-default btn-block" type="submit" name="submit">
                        Update
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-lg-4 pl-lg-2">
              <div class="">
                <div class="card">
                  <div class="card-header bg-100 d-flex justify-centent-center">
                    <label class="m-auto" for="">App Logo</label>
                  </div>
                  <div class="card-body m-auto">
                    <form class="needs-validation" novalidate id="companyLogoForm">
                      <label class="m-auto" for="">Wide</label>
                      <div class="h-100 w-100 overflow-hidden position-relative border">
                        <img src="<%= appInfo?.app_logo ? '../img/' + appInfo.app_logo : '' %>" class="img-fluid" width="200" height="70" alt="" data-dz-thumbnail/>
                        <input class="d-none" id="logoImage" name="logoImage" type="file"/>
                        <label class="mb-0 overlay-icon d-flex flex-center" for="logoImage">
                          <span class="bg-holder overlay overlay-0"></span>
                          <span class="z-index-1 text-white text-center fs--1">
                            <span class="fas fa-camera"></span>
                            <span class="d-block">Update</span>
                          </span>
                        </label>
                      </div>
                      <button class="d-none" type="submit" name="submit">
                        Upload
                      </button>
                    </form>
                    <form class="needs-validation" novalidate id="companySymbolForm">
                      <label class="m-auto" for="">Icon</label>
                      <div class="h-100 w-100 overflow-hidden position-relative border">
                        <img src="<%= appInfo?.app_logo_symbol ? '../img/' + appInfo.app_logo_symbol : '/img/FrontShare-Logo-SYMBOL.png' %>" class="img-fluid" width="200" height="200" alt="" data-dz-thumbnail/>
                        <input class="d-none" id="symbolImage" name="symbolImage" type="file"/>
                        <label class="mb-0 overlay-icon d-flex flex-center" for="symbolImage">
                          <span class="bg-holder overlay overlay-0"></span>
                          <span class="z-index-1 text-white text-center fs--1">
                            <span class="fas fa-camera"></span>
                            <span class="d-block">Update</span>
                          </span>
                        </label>
                      </div>
                      <button class="d-none" type="submit" name="submit">
                        Upload
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <footer><%- include('partials/footer.ejs') %></footer>
        </div>
      </div>
    </main>
    <!-- ===============================================-->
    <!--                End of Main Content             -->
    <!-- ===============================================-->

    <div class="alert alert-success alert-dismissible fade show custom-alert" role="alert" style="
            display: none;
            position: fixed;
            bottom: 0px;
            right: 10px;
            max-width: 400px;
            font-size: 14px;
            z-index: 9999;
          ">
      <h6 class="mt-2" id="alertContext">
        Profile setting updated successfully!
      </h6>
      <button class="close" type="button" onclick="closeCustomAlert()" aria-label="Close">
        <span class="font-weight-light" aria-hidden="true">×</span>
      </button>
    </div>

    <!-- ===============================================-->
    <!--                  JavaScripts                   -->
    <!-- ===============================================-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/lib/@fortawesome/all.min.js"></script>
    <script src="assets/lib/stickyfilljs/stickyfill.min.js"></script>
    <script src="assets/lib/sticky-kit/sticky-kit.min.js"></script>
    <script src="assets/lib/is_js/is.min.js"></script>
    <script src="assets/lib/lodash/lodash.min.js"></script>
    <script src="assets/lib/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/html2canvas@1.3.2/dist/html2canvas.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/qr-code-styling@1.5.0/lib/qr-code-styling.js"></script>
    <script src="vendors/tinymce/tinymce.min.js"></script>
    <script src="assets/js/colorPick.js"></script>
    <script src="assets/lib/shopify-draggable/draggable.bundle.legacy.js"></script>
    <script src="assets/lib/lightbox2/js/lightbox.min.js"></script>
    <script src="assets/lib/fancybox/jquery.fancybox.min.js"></script>
    <script src="../js/blocks/video-block.js"></script>
    <script src="../js/blocks/music-block.js"></script>
    <script src="../js/blocks/text-block.js"></script>
    <script src="../js/canvas.js"></script>
    <script src="../js/webapp-settings.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.1/lottie.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="/public/vendors/dropzone/dropzone.min.js"></script>

  </body>
</html>
